<?xml version="1.0"?>
<launch>
	<arg name="knowrob_settings" default="$(find knowrob)/settings/default.pl" />
	<arg name="owl_file" default="$(find know_plan)/owl/maps/map_cra_cs_bringing_object.owl" />

	
	
	<!-- Include rosprolog knowledge base -->
	<env name="KNOWROB_SETTINGS" value="$(arg knowrob_settings)" /> <!-- Configure settings file. -->
	<include file="$(find rosprolog)/launch/rosprolog.launch">
		<arg name="initial_package" default="know_plan" />
		<arg name="initial_goal" default="load_owl('$(arg owl_file)')." />
	</include>

</launch>
