<?xml version="1.0"?>
<launch>
	<!-- Include simple semantic map for 'bringing an object' -->
	<include file="$(find know_plan)/launch/map_cra_cs_bringing_object.launch" >
		<arg name="owl_file"        value="$(find know_plan)/owl/maps/map_cra_cs_bringing_object.owl" />
	</include>

	<!-- Include node for manual assertion of neems regarding objects in the map -->
	<node name="neem_assertion_node" pkg="explanatory_narratives_cra" type="assert_neems_bringing_a_drink.py" output="screen">
		<!-- -->  
    </node>
</launch>
