<launch>
  <arg name="knowrob_settings" default="$(find knowrob)/settings/default.pl" />
  <arg name="owl_file" default="$(find know_cra)/owl/maps/map_cra_cs_filling_tray.owl" />
  <arg name="neem_folder" default="$(find know_cra)/NEEMs/validation_neem/roslog" />
  
  <!-- Configure settings file. -->
  <env name="KNOWROB_SETTINGS" value="$(arg knowrob_settings)" />

  <include file="$(find rosprolog)/launch/rosprolog.launch">
    <arg name="initial_package" default="know_cra" />
    <arg name="initial_goal" default="load_owl('$(arg owl_file)'), mng_restore(roslog, '$(arg neem_folder)')." />
  </include>

</launch>
